.size10,
.size10 .remark-code {
    font-size: 10px;
}

.size20,
.size20 .remark-code {
    font-size: 20px;
}

.size30,
.size30 .remark-code {
    font-size: 30px;
}

.size40,
.size40 .remark-code {
    font-size: 40px;
}

.size50,
.size50 .remark-code {
    font-size: 50px;
}

.size130,
.size130 .remark-code {
    font-size: 130px;
}
