*, *:before, *:after {
    box-sizing: border-box;
}

/* -------------------------------------------------------------------------- */

h3 {
    color: #f7302f;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
    color: gray;
}

h3 em {
    color: #f0db4f;
}

a {
    color: #2380e6;
    background: linear-gradient(to top, currentColor .09em, transparent .09em) repeat-x;
}

a:hover {
    text-decoration: none;
}

/* -------------------------------------------------------------------------- */

.remark-slide-content.front-page {
    background: url(../images/warsawjs/panoramatail.png) repeat-x #fff 0 90%;
    background-size: 20%;
    padding: 70px 40px 0;
}

.remark-slide-content.front-page .logo {
    width: 550px;
    float: left;
    text-align: center;
}

.remark-slide-content.front-page .details {
    float: left;
    width: calc(100% - 550px);
    border-left: 3px solid #f7302f;
    padding: 0 0 10px 50px;
    margin-top: 5px;
}

.remark-slide-content.front-page .details h2 {
    color: #000;
    font-size: 26px;
    line-height: 30px;
    padding: 0;
    margin: 0 0 10px 0;
}

.remark-slide-content.front-page .details h2 em {
    color: #f7302f;
    font-style: normal;
}

.remark-slide-content.front-page .details h2 small {
    color: gray;
    font-size: inherit;
}

/* -------------------------------------------------------------------------- */

.remark-slide-content.slide-fullscreen-background {
    background-size: contain;
}

.size10,
.size10 .remark-code {
    font-size: 10px;
}

.size20,
.size20 .remark-code {
    font-size: 20px;
}

.size30,
.size30 .remark-code {
    font-size: 30px;
}

.size40,
.size40 .remark-code {
    font-size: 40px;
}

.size50,
.size50 .remark-code {
    font-size: 50px;
}
